body {
  margin: 0;
  background-color: #2e2727;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #0e1615;
  color: white;
  padding: 30px;
  border-radius: 20px;
  width: 400px;
  text-align: center;
  box-shadow: 0 0 10px #00000070;
}

h2 {
  background-color: #e0e0e0;
  color: black;
  padding: 10px;
  border-radius: 20px;
  font-size: 24px;
  margin-bottom: 20px;
}

.output-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.output-section input {
  flex: 1;
  font-size: 16px;
  padding: 8px;
  margin-right: 10px;
  border-radius: 10px;
  border: none;
}

.output-section button {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.controls {
  margin-top: 20px;
}

.controls input[type=range] {
  width: 100%;
  margin: 10px 0;
}

.controls label {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
}

.controls button {
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
}
