table {
  border-collapse: collapse;
  width: 50%;
  margin-bottom: 20px;
}

.simple td, .simple th {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #aee;
}

.rounded td, .rounded th {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #aee;
  border-radius: 10px;
}
